* {
  margin: 0;
  padding: 0;
  border: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 2px solid black;
  /* height: 600px; */
  width: 500px;
}
.panel-one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid black;
}
.panel-one span {
  font-size: 30px;
  font-weight: bold;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 110px;
  width: 100%;

  border-bottom: 2px solid black;
}
.input-add-area {
  height: 50px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-box input {
  height: 30px;
  width: 350px;
}
.addTaskButton button {
  height: 35px;
  width: 70px;
}
.list-items-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
ul li {
  font-size: 20px;
  list-style: decimal;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 450px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
}
.checked  {
  text-decoration: line-through;
}

.check-delete {
  border: 2px solid black;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.fa-trash {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.fa-check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 15px;
  border-right: 2px solid black;
}
